<!DOCTYPE html>
<html lang="en">
<head>
    <title>客服页面</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,minimum-scale=1.0,user-scalable=0" />    <link rel="stylesheet" href="/static/bootstrap/bootstrap.min.css" >
    <link rel="stylesheet" href="/static/css/admin.css" >
    <link rel="stylesheet" href="/static/css/msg.css" >
</head>
<body>

<div class="chc-main container-fluid">
    <div class="row " >
        <div class="chc-left col-1 d-flex flex-column align-items-center justify-content-start pt-4">
            <div class="login-user">
                <img src="/static/images/touxiang.jpeg" class="rounded">
            </div>
            <ul class="setting-items pt-4">
                <li class="mb-3">
                    <a href="#">
                        <svg class="icon" aria-hidden="true">
                            <use xlink:href="#icon-liaotian"></use>
                        </svg>
                    </a>
                </li>
                <li class="mb-3">
                    <a href="#">
                        <svg class="icon" aria-hidden="true">
                            <use xlink:href="#icon-fangke"></use>
                        </svg>
                    </a>
                </li>
                <li class="mb-3">
                    <a href="#">
                        <svg class="icon" aria-hidden="true">
                            <use xlink:href="#icon-gear"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
        <div class="chc-right col-11 ">
            <div class="container">
                <div class="row">
                    <div class="col-2 d-flex flex-column users-left">
                        <div class="chc-search">
                            <span>正在聊天</span>
                        </div>
                        <div class="chat-user-list" id="chat-user-list">
                            <div class="chc-users d-flex flex-row align-items-center chc-chating-this" data-cid="1001" onclick="chatClick(this)" id="chenhuachao">
                                <img src="/static/images/touxiang.jpeg" class="mr-1">
                                <div class="mr-1 flex-grow-1">
                                    <span class="h-100">测试用户</span>
                                    <span class="badge badge-danger">4</span>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-10 user-chat-body d-flex flex-column">
                        <div class="chc-title d-flex flex-row align-items-center ">
                            <span class="ml-2" id="local-username">用户AAAAA</span>
                        </div>
                        <div class="chc-body p-2 " id="messagelog">
                            <div class="msg-item d-flex flex-row">
                                <img src="/static/images/online.png" class="user-photo rounded d-block mr-1">
                                <div >
                                    <p class="chat-msg-dest rounded p-1">这是一条消息这是一条消息这是一条消息这是一条消息这是一条消息这是一条消息这是一条消息</p>
                                </div>
                            </div>
                            <div class="msg-item d-flex flex-row flex-row-reverse">
                                <img src="/static/images/online.png" class="user-photo rounded d-block ml-1">
                                <div >
                                    <p class="chat-msg rounded p-1">这是一条消息这是一这是一条消息这是一这是一条消息这是一这是一条消息这是一这是一条消息这是一这是一条消息这是一这是一条消息这是一</p>
                                </div>
                            </div>
                        </div>
                        <div class="chc-toos d-flex flex-column ">
                            <div class="chc-chat-tools d-flex flex-row p-2 ">
                                <svg class="icon ml-2 mt-1  icon-1-5" aria-hidden="true" >
                                    <use xlink:href="#icon-biaoqing"></use>
                                </svg>
                                <svg class="icon ml-2 mt-1  icon-1-5" aria-hidden="true">
                                    <use xlink:href="#icon-yuyin"></use>
                                </svg>
                                <svg class="icon ml-2 mt-1  icon-1-5" aria-hidden="true">
                                    <use xlink:href="#icon-jiahao"></use>
                                </svg>
                            </div>
                            <div class="chc-chat-input chc-input-input" id="msg" contenteditable="true">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="fixed-bottom d-flex flex-column justify-content-center">
        <p>2019</p>
        <p>copyright MIT</p>
    </div>
</div>



<script src="/static/jquery/jquery.min.js"></script>
<script src="/static/iconfont/iconfont.js"></script>
<script src="/static/bootstrap/bootstrap.min.js" ></script>
<script src="/static/js/utils.js"></script>
<script src="/static/js/admin.js" ></script>
</body>
</html>