<!DOCTYPE html>
<html lang="en">
<head>
    <title>客服页面</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,minimum-scale=1.0,user-scalable=0" />
    <link rel="stylesheet" href="/static/bootstrap/bootstrap.min.css" >
    <link rel="stylesheet" href="/static/css/admin.css" >
    <link rel="stylesheet" href="/static/css/msg.css" >
</head>
<body>

<div class="chc-main container-fluid">
    <div class="row " >
        <div class="chc-left col-2 ">
            <div class="pt-4 d-flex flex-column align-items-center justify-content-start ">
                <div class="login-user">
                    <img src="/static/images/touxiang.jpeg" class="rounded">
                </div>
                <ul class="setting-items pt-4">
                    <li class="mb-2">
                        <a href="#">
                            <svg class="icon" aria-hidden="true">
                                <use xlink:href="#icon-liaotian"></use>
                            </svg>
                            <cite>会话</cite>
                        </a>
                    </li>
                    <li class="mb-2">
                        <a href="/servicep" target="_blank">
                            <svg class="icon" aria-hidden="true">
                                <use xlink:href="#icon-fangke"></use>
                            </svg>
                            <cite>坐席</cite>
                        </a>
                    </li>
                    <li class="mb-2">
                        <a href="#">
                            <svg class="icon" aria-hidden="true">
                                <use xlink:href="#icon-gear"></use>
                            </svg>
                            <cite>配置</cite>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="login-exit-tool">
                <div class="fixed-bottom d-flex flex-column justify-content-center">
                    <span id="exit-id">
                        <svg class="icon" aria-hidden="true">
                            <use xlink:href="#icon-tuichu"></use>
                        </svg>
                    </span>
                    <p>2019 copyright MIT</p>
                </div>
            </div>
        </div>
        <div class="chc-right col-10 ">
            <div class="container">
                <div class="row">
                    <div class="col-3 d-flex flex-column users-left">
                        <div class="chc-search">
                            <span>正在聊天</span>
                        </div>
                        <!--样例数据-->

                        <div class="chat-user-list" id="chat-user-list">

                            <div class="chc-users d-flex flex-row align-items-center chc-chating-this" data-cid="1001" onmousedown="chatClick(event,this)"  data-online="yes" id="chenhuachao">
                                <img src="/static/images/touxiang.jpeg" class="mr-1">
                                <div class="consumer-info mr-1">
                                    <div class="name-unread-status">
                                        <span class="">测试用户</span>
                                        <span class="badge badge-danger">4</span>
                                        <span class="badge badge-success u-online" >在线</span>
                                    </div>
                                    <div class="from-city">
                                        <span>PC</span>
                                        <span>河南 郑州</span>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="col-9 user-chat-body d-flex flex-column" style="display: none!important;">
                        <div class="chc-title d-flex flex-row align-items-center ">
                            <span class="ml-2" id="local-username">暂无用户</span>
                        </div>
                        <div class="chc-body p-2 " id="messagelog">
                            <!--聊天样例数据-->
                            <!--
                            <div class="msg-item d-flex flex-row">
                                <img src="/static/images/online.png" class="user-photo rounded d-block mr-1">
                                <div >
                                    <p class="chat-msg-dest rounded p-1">这是一条消息这是一条消息这是一条消息这是一条消息这是一条消息这是一条消息这是一条消息</p>
                                </div>
                            </div>
                            <div class="msg-item d-flex flex-row flex-row-reverse">
                                <img src="/static/images/online.png" class="user-photo rounded d-block ml-1">
                                <div >
                                    <p class="chat-msg rounded p-1">这是一条消息这是一这是一条消息这是一这是一条消息这是一这是一条消息这是一这是一条消息这是一这是一条消息这是一这是一条消息这是一</p>
                                </div>
                            </div>
                            -->
                        </div>
                        <div class="chc-toos d-flex flex-column ">
                            <div class="chc-chat-tools d-flex flex-row p-2 ">
                                <svg class="icon ml-2 mt-1  icon-1-5" aria-hidden="true" >
                                    <use xlink:href="#icon-biaoqing"></use>
                                </svg>
                                <svg class="icon ml-2 mt-1  icon-1-5" aria-hidden="true">
                                    <use xlink:href="#icon-yuyin"></use>
                                </svg>
                                <svg class="icon ml-2 mt-1  icon-1-5" aria-hidden="true">
                                    <use xlink:href="#icon-jiahao"></use>
                                </svg>
                            </div>
                            <div class="chc-chat-input chc-input-input" id="msg" contenteditable="true">
                            </div>
                        </div>
                    </div >
                    <div class="col-9 d-flex flex-column justify-content-center align-items-center" id="no-chat-body">
                        <svg class="icon no-msg-icon" aria-hidden="true">
                            <use xlink:href="#icon-zanwuxiaoxi1"></use>
                        </svg>
                        <h4 class="no-chat-warring">如有访客，请点击左侧进行聊天</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--右键弹出div-->
    <ul id="rightitems">
        <li>删除</li>
    </ul>

</div>
<!--消息提示音-->
<audio id="myaudio" src="/static/media/messagealert.mp3" controls="controls" loop="false" hidden="true" ></audio>
<script src="/static/jquery/jquery.min.js"></script>
<script src="/static/iconfont/iconfont.js"></script>
<script src="/static/bootstrap/bootstrap.min.js" ></script>
<script src="/static/js/utils.js"></script>
<!--<script src="/static/js/admin.js" ></script>-->
<script>
    document.oncontextmenu = function(){return false};
    window.onload = function () {
        var conn;
        var serviceId = {{.}};
        var msg = $("#msg");
        log = $("#messagelog");
        //所有的消息对象集合
        //格式{
        //     "客户id":
        //      {
        //          unread:12:
        //            message:[
        //                {"msg":"ms1","obj":"me","date":"2017-05-12 12:00"},
        //                {"msg":"ms1","obj":"he","date":"2017-05-12 12:00"},
        //               ]
        //      }，
        //      ...
        // }
        allMsgObj = {};
        localWindow = '';


        //绑定回车事件
        $("#msg").keydown(function (event) {
            if(event.keyCode=='13'){
                if (!conn) {
                    return false;
                }
                var selfmessage = msg.text();
                if (!selfmessage) {
                    return false;
                }
                var datetime = formatDate((new Date()),"yyyy-MM-dd hh:mm:ss");
                var message = {"userid":serviceId,"destid":localWindow,"content":selfmessage,"addtime":datetime};
                conn.send(JSON.stringify(message));
                appendMsg(log,generateSelfSendMsgHtml(selfmessage));
                updateAllMsgData(localWindow,selfmessage,"me",addtime=datetime);
                msg.empty();
                return false;
            }
        });

        if (window["WebSocket"]) {
            //test
            conn = new WebSocket("ws://" + document.location.host + "/ws?userid="+serviceId+"&destid=null");
            //formal
            // conn = new WebSocket("wss://wss.baidu.cn/ws?userid="+serviceId+"&destid=null");
            if(conn.readyState==1){
                console.log("socket成功建立连接")
            }else {
                console.log("socket正在建立连接")
            }
            //服务端关闭了连接
            conn.onclose = function (evt) {
                alert("server close");
            };
            //接收到消息
            conn.onmessage = function (evt) {

                console.log(JSON.parse(evt.data));
                //todo 用户离线处理 Content: "用户离线" addtime: "2019-06-05 11:43:32" destid: "1000" msgtype: 1023 userid: "09561853313
                //判断msgtype=1023即为离线
                var messages = JSON.parse(evt.data);
                if(messages.msgtype==1023){
                    online2offline(messages.userid)
                }
                recvMsgreloadChatPage(messages);
                //消息提示音
                messageAlert();
            };
        } else {
            var item = document.createElement("div");
            item.innerHTML = "<b>Your browser does not support WebSockets.</b>";
            appendLog(item);
        }


        //当有消息发送时，页面重载函数
        function recvMsgreloadChatPage(message) {
            //当前用户集合
            var userlist = [];
            $("#chat-user-list>div").each(function(){
                userlist.push($(this).attr("data-cid"));
            });
            //1、判断此条消息的用户是否在用户列表中
            var destid = message.userid;
            var msg = message.content;
            var recvMsgDate = message.addtime;
            var location = message.location;
            var from = message.from;
            if (allMsgObj[destid]){
                //1.1当前窗口是不是这条消息的用户
                if(localWindow == destid){
                    appendMsg(log,generateFriendSendMsgHtml(msg));
                }else{
                    //1.2不是当前用户
                    //jquery动态更新气泡
                    //更新总数据结构
                    updateUnreadMsgCount(destid);
                    updateAllMsgData(destid,msg,"he",addtime=recvMsgDate);
                }
            }else{
                //2、不在用户列表
                //2.1新增div，置顶，气泡
                var friendslitdom = $("#chat-user-list");
                prependFriendslist(friendslitdom,generateFriendListHtml(destid,1,"访"+destid,location,from));
                //2.2更新总数据
                allMsgObj[destid]={};
                allMsgObj[destid]['unread']=1;
                allMsgObj[destid]['message']=[];
                allMsgObj[destid]['message'].push({"msg":msg,"obj":"he","date":recvMsgDate},);
            }
            console.log(allMsgObj);
        }

    };
    //重载聊天面板
    function chatpanelreload(messagedata) {
        $("#messagelog").empty();
        $.each(messagedata,function (i, j) {
            var msg = j.msg;
            if(j.obj == "me"){
                appendMsg(log,generateSelfSendMsgHtml(msg));
            }else if(j.obj == "he"){
                appendMsg(log,generateFriendSendMsgHtml(msg));
            }
        })
    }


    //点击用户列表的某个用户时，重载函数
    function chatClick(event,e) {
        var btnNum = event.button;
        var rightitems=document.getElementById('rightitems');
        if (btnNum==2) //鼠标右键
        {
                var x=event.clientX;
                var y=event.clientY;
                console.log("X coords: " + x + ", Y coords: " + y);
                rightitems.style.display='block';
                rightitems.style.left=x+'px';//如果超出可视区就加scroll
                rightitems.style.top=y+'px';
                return false;
        }
        else if(btnNum==0) //鼠标左键
        {
            rightitems.style.display='none';
            console.log(allMsgObj);
            //重载右侧聊天面板
            chatbodytranslate(status=true);
            //获取div的用户信息
            var userid = $(e).attr("data-cid");
            console.log(userid);
            //气泡为0
            if(allMsgObj[userid]){
                allMsgObj[userid]['unread'] = 0;
                $(e).children("div").children("div:nth-child(1)").children("span:nth-child(2)").html("");
                //去除兄弟元素的chc-chating-this效果
                $(e).siblings().removeClass("chc-chating-this");
                $(e).addClass("chc-chating-this");
                $("#local-username").html(userid);
                //定位当前聊天用户
                localWindow = userid;
                //重载聊天面板
                chatpanelreload(allMsgObj[userid]['message']);
            }else{
                alert("用户不存在");
            }
            console.log(allMsgObj);
        }
    }
    //更新所有消息函数
    function updateAllMsgData(uid,msg,who,addtime=null) {
        if(datetime){
            var datetime = addtime;
        }else{
            var datetime = formatDate((new Date()),"yyyy-MM-dd hh:mm:ss");
        }

        allMsgObj[uid]['message'].push({"msg":msg,"obj":who,"date":datetime},);
    }
    //退出
    $("#exit-id").on("click",function () {
        delCookie("token");
        window.location.href="/";
    });
    //右侧聊天面板重载
    function  chatbodytranslate(status) {
        if(status==true){
            $("#no-chat-body").css("cssText","display:none!important");
            $(".user-chat-body").css("cssText","display:flex!important");
        }else {
            $("#no-chat-body").css("cssText","display:flex!important");
            $(".user-chat-body").css("cssText","display:none!important");
        }

    }
    //更改在线离线状态
    function online2offline(uid) {
        $("#chat-user-list>div").each(function(){
            if($(this).attr("data-cid")==uid){
                $(this).attr("data-online","no");
                console.log($(this).find("span").last());
                $(this).find(".name-unread-status").find("span").last().removeClass("badge-success");
                $(this).find(".name-unread-status").find("span").last().addClass("badge-secondary");
                $(this).find(".name-unread-status").find("span").last().text("离线");
            }
        });
    }
    //jquery动态更新气泡
    function updateUnreadMsgCount(uid) {
        $("#chat-user-list>div").each(function(){
            if($(this).attr("data-cid")==uid){
                var unreadCount = allMsgObj[uid]['unread']+1;
                $(this).children("div").children("div:nth-child(1)").children("span:nth-child(2)").html(unreadCount);
            }
        });
        //todo
        //更新总数据结构
        allMsgObj[uid]['unread']= allMsgObj[uid]['unread']+1;
    }
    //定时更新左侧客户列表-清除离线时间大于3分钟的用户
    setInterval(function () {
        console.log("定时清理离线用户开始...");
        $("#chat-user-list>div").each(function () {
           if($(this).attr("data-online")=="no"){
               var uid = $(this).attr("data-cid");
               var lasttime = allMsgObj[uid]["message"][allMsgObj[uid]["message"].length-1]["date"];
               var threeMinute = formatDate(new Date(new Date().getTime()-3*60*1000),"yyyy-MM-dd hh:mm:ss");
               if(lasttime<threeMinute){
                   console.log("清理过期聊天。",uid,lasttime,threeMinute);
                   $(this).remove();
                   //没有聊天好友时，恢复原样
                   if($("#chat-user-list>div").length==0){
                       chatbodytranslate(status=false);
                   }
               }
           }
        });
    },10000);
    //消息提示音
    function messageAlert(){
        var myAuto = document.getElementById('myaudio');
        myAuto.play();
        setTimeout(function () {
            myAuto.pause();
        },1500)
    }
    document.onclick=function () {
        var rightitems=document.getElementById('rightitems');
        if(rightitems.style.display=="block"){
            rightitems.style.display="none";
        }

    }
</script>
</body>
</html>